body {
  background-color: gray
}

h1 {
  text-align: center;
}

#grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto
  auto auto auto auto auto auto auto;

}

.cell {
  border: 1px solid black;
  padding: 19px;
}
